@use './variables.scss'as *;

.show-answers-conteiner {
    font-size: $font-medium;
    position: relative;

    h2 {
        text-align: center;
        text-transform: uppercase;
    }

    div {
        margin-bottom: 20px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    p {
        margin-bottom: 5px;
        list-style: none;
        border: 1px solid rgba(255, 255, 255, 0.603);
        padding: 2px;
        border-radius: 5px;

        &.wrong {
            background-color: red;
        }

        &.correct {
            background-color: rgb(93, 218, 93);
        }
    }
}