@use './mixins.scss'as *;
@use './variables.scss'as *;

.start-board {
    background-color: rgb(211, 140, 8);
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    @include shadow(rgb(0, 0, 0, 0.4), rgb(255, 255, 255, 0.5));

    h1 {
        @include text(5px, 10px);
        border-radius: 5px;
    }

    .options {
        @include display(flex);
        margin-top: 20px;
        flex-direction: column;

        h4 {
            margin: 0;
            font-size: $font-medium;
        }

        .time-option {
            button {
                @include btn-style(70px, 70px);
                @include shadow(rgba(255, 255, 255, 0.253), rgba(0, 0, 0, 0.123));
                @include transition(background-color, 0.3s);
                border-radius: 5px;
                background-color: $bg-color;
                border: 1px solid black;
                font-size: $font-medium;
                font-weight: bolder;
                margin-left: 5px;

                &:hover {
                    background-color: coral;
                }

                &.active {
                    background-color: rgb(201, 135, 12);
                }
            }
        }

        .count-of-question-option {
            margin-top: 10px;

            button {
                @include btn-style(70px, 70px);
                @include shadow(rgba(255, 255, 255, 0.253), rgba(0, 0, 0, 0.123));
                @include transition(background-color, 0.3s);
                border-radius: 5px;
                background-color: rgb(243, 199, 118);
                border: 1px solid black;
                font-size: $font-medium;
                font-weight: bolder;
                margin-left: 5px;

                &:hover {
                    background-color: rgb(192, 211, 21);
                }

                &.active {
                    background-color: rgb(119, 128, 3);
                }
            }
        }
    }

    .start-game {
        @include btn-style();
        align-self: center;
        margin-top: 20px;
        border-radius: 10px;
        font-size: $font-medium;
        background-color: grey;
        @include shadow(rgb(0, 0, 0, 0.4), rgb(255, 255, 255, 0.5));
    }
}