$bg-color: orange;
$font-color: rgb(63, 62, 62);
$cheked-color: rgb(41, 207, 236);

@mixin display($display, $justify: center, $align: center) {
  display: $display;
  -webkit-box-pack: $justify;
  justify-content: $justify;
  -webkit-box-align: $align;
  align-items: $align;
}

@mixin text($padding, $margin) {
  text-align: center;
  padding: $padding;
  margin: $margin;
}

@mixin btn-style($width: 200px, $height: 100px) {
  outline: none;
  border: none;
  cursor: pointer;
  width: $width;
  height: $height;
}

@mixin transition($elements: [], $time) {
  -webkit-transition: $elements $time ease-in;
  transition: $elements $time ease-in;
}

@mixin shadow($color, $color2) {
  box-shadow: 3px 3px 10px $color, -3px -3px 10px $color2;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  color: $font-color;
  @include display(flex);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  overflow-x: hidden;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  header {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.3rem;

    h1 {
      @include text(0, 0);
    }
  }

  main {
    width: 100%;
    @include display(flex, center, initial);
  }

  .start-board {
    background-color: rgb(211, 140, 8);
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    @include shadow(rgb(0, 0, 0, 0.4), rgb(255, 255, 255, 0.5));

    h1 {
      @include text(5px, 10px);
      border-radius: 5px;
    }

    .options {
      @include display(flex);
      margin-top: 20px;
      flex-direction: column;

      h4 {
        margin: 0;
        font-size: 1.8rem;
      }

      .time-option {
        button {
          @include btn-style(70px, 70px);
          @include shadow(rgba(255, 255, 255, 0.253), rgba(0, 0, 0, 0.123));
          @include transition(background-color, 0.3s);
          border-radius: 5px;
          background-color: $bg-color;
          border: 1px solid black;
          font-size: 1.7rem;
          font-weight: bolder;
          margin-left: 5px;

          &:hover {
            background-color: coral;
          }

          &.active {
            background-color: rgb(201, 135, 12);
          }
        }
      }

      .count-of-question-option {
        margin-top: 10px;

        button {
          @include btn-style(70px, 70px);
          @include shadow(rgba(255, 255, 255, 0.253), rgba(0, 0, 0, 0.123));
          @include transition(background-color, 0.3s);
          border-radius: 5px;
          background-color: rgb(243, 199, 118);
          border: 1px solid black;
          font-size: 1.7rem;
          font-weight: bolder;
          margin-left: 5px;

          &:hover {
            background-color: rgb(192, 211, 21);
          }

          &.active {
            background-color: rgb(119, 128, 3);
          }
        }
      }
    }

    .start-game {
      @include btn-style();
      align-self: center;
      margin-top: 20px;
      border-radius: 10px;
      font-size: 1.4rem;
      background-color: grey;
      @include shadow(rgb(0, 0, 0, 0.4), rgb(255, 255, 255, 0.5));
    }
  }

  .info {
    margin-top: 30px;
    font-size: 1.7rem;
    font-weight: 700;
    position: relative;
    @include display(flex, initial);

    .back-to-menu {
      border-radius: 50%;
      background-color: grey;
      color: white;
      border: 1px solid rgba(255, 255, 255, 0.7);
      position: absolute;
      top: -100px;
      @include btn-style(50px, 50px);
      font-size: 1.7rem;
      @include transition(transform, 0.5s);

      &:hover {
        transform: scale(0.8);
      }
    }

    P {
      margin: 0;
    }

    .timer {
      width: 50px;
      height: 50px;
      background-color: rgb(202, 197, 197);
      border-radius: 50%;
      margin-right: 20px;
      border: black 1px solid;
      @include display(flex);
      position: relative;
      z-index: 1;
      overflow: hidden;
    }

    .progress {
      width: 125%;
      height: 125%;
      background-color: rgb(49, 188, 235);
      border-radius: 50%;
      position: absolute;
      z-index: -1;
      transform: translateY(100%);

      &:nth-child(3) {
        left: 15px;
      }

      &:nth-child(2) {
        left: -15px;
      }
    }
  }

  .overlay {
    opacity: 0.6;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    -webkit-transform: scale(0) translate(-50%, -50%);
    transform: scale(0) translate(-50%, -50%);
    @include transition(transform, 0.3s);
    pointer-events: none;
    -webkit-transform-origin: center;
    transform-origin: center;

    &.show {
      -webkit-transform: scale(1) translate(-50%, -50%);
      transform: scale(1) translate(-50%, -50%);
    }

    @-webkit-keyframes scale-up {
      0% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }

      33% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
      }

      66% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }

      100% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }

    @keyframes scale-up {
      0% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }

      33% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
      }

      66% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }

      100% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
  }

  .conteiner {
    display: grid;
    width: 90%;
    grid-template-rows: 40px 70px minmax(100px, 1fr) 65px;
    position: absolute;
    top: -1500px;
    @include transition(top, 0.4s);

    &.show {
      top: 100px;
    }

    .box {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(2, minmax(50px, 1fr));
      grid-gap: 15px;
    }

    .question {
      @include text(10px, 0);
      font-size: 1.8rem;
    }

    .answer {
      @include btn-style(100%, 100%);
      @include display(flex);
      background-color: rgb(143, 125, 92);
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      cursor: pointer;
      -webkit-transition: background-color 0.4s ease-in;
      transition: background-color 0.4s ease-in;
      font-size: 1.3rem;

      &:hover {
        background-color: rgb(100, 95, 85);
      }

      &.checked {
        background-color: $cheked-color;
      }
    }

    .next {
      @include btn-style();
      background-color: rgb(201, 131, 3);
      border: 1px solid brown;
      font-size: 1.4rem;
      font-weight: bolder;
      grid-row: 6/7;
      place-self: center;
      border-radius: 10px;
      -webkit-transition: background-color 0.4s ease-in;
      transition: background-color 0.4s ease-in;

      &:disabled {
        opacity: 0.7;
      }

      &:enabled:hover {
        background-color: orangered;
        -webkit-animation: scale-up 0.15s ease-out;
        animation: scale-up 0.15s ease-out;
      }
    }

    .result-board {
      background-color: rgb(172, 180, 52);
      grid-row: 1/4;
      display: grid;
      border-radius: 10px;
      color: white;

      h1 {
        text-align: center;
        font-size: 2.5rem;
      }

      p {
        margin-left: 20px;
        font-size: 1.2rem;

        strong {
          font-weight: 900;
          font-size: 1.4rem;
          color: rgb(56, 55, 55);
        }
      }

      .button-box {
        @include display(flex);

        button {
          @include btn-style();
          @include transition(background-color, 0.5s);
          background-color: rgb(214, 214, 69);
          border-radius: 10px;
          place-self: center;
          font-size: 1.4rem;
          font-weight: bolder;

          &:hover {
            background-color: rgb(117, 117, 28);
          }
        }
      }
    }
  }

  .show-answers-conteiner {
    font-size: 1.4rem;
    position: relative;
    top: -150px;

    h2 {
      text-align: center;
      text-transform: uppercase;
    }

    div {
      margin-bottom: 10px;
      margin-top: 10px;
      font-size: 1.7rem;
      display: flex;
      justify-content: space-between;
    }

    p {
      margin-bottom: 5px;
      list-style: none;
      border: 1px solid rgba(255, 255, 255, 0.603);
      padding: 2px;
      border-radius: 5px;

      &.wrong {
        background-color: red;
      }

      &.correct {
        background-color: rgb(93, 218, 93);
      }
    }
  }
}

@media screen and(max-width:900px) {
  html {
    font-size: 14px;
    overflow-y: scroll !important;

    .overlay {
      display: none;
    }
  }
}

@media screen and(max-width:700px) {
  html {
    font-size: 10px;

    body {
      .start-board {
        .start-game {
          width: 140px;
          height: 80px;
        }

        .options {
          .count-of-question-option {
            button {
              width: 60px;
              height: 60px;
            }
          }

          .time-option {
            button {
              width: 60px;
              height: 60px;
            }
          }
        }
      }

      .conteiner {
        .info {
          align-self: center;

          .timer {
            height: 35px;
            width: 35px;
          }

          .back-to-menu {
            width: 45px;
            height: 45px;
          }
        }

        .box {
          grid-template-columns: 1fr;
          grid-template-rows: repeat(4, minmax(45px, 1fr));
          place-self: center;
          width: 100%;
        }

        .next {
          height: 60px;
          grid-row: 4/5;
          margin-top: 5px;
        }

        .show-answers-conteiner {
          top: -330px;
        }
      }
    }
  }
}