@use './modules/mixins.scss'as *;
@use './modules/variables.scss'as *;
@use './modules/startBoard.scss';
@use './modules/info.scss';
@use './modules/overlayOnHover.scss';
@use './modules/quizBox.scss';
@use './modules/resultBoard.scss';
@use './modules/allAnswers.scss';
@use './modules/responsive900px.scss';
@use './modules/responsive700px.scss';

* {
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  color: $font-color;
  @include display(flex);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  overflow-x: hidden;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  header {
    width: 100%;
    text-align: center;
    font-size: $font-large;

    h1 {
      @include text(0, 0);
      letter-spacing: 0.3rem;
    }

    h5 {
      margin: 0;
      ;
    }
  }

  main {
    width: 100%;
  }
}